@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
}

.heading{
    text-align: center;
    color:crimson;
}

body {
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #bdb9f0, #f7f7ad);
	background: linear-gradient(to right, #d0cbec, #f5f59d);

	font-family: 'Lato';
	margin: 0;
}



 .img-container {
	background-color: rgba(255, 255, 255, 0.966);
	border-radius: 50%;
	width: 130px;
	height: 150px;
	text-align: center;
    margin-left: 17px;
   
    
}

.img-container img {
	margin-top: 20px;
	max-width: 90%;
   

}


.pokemon{
    
    background-color:#a6e6b3;
   padding: 20px 10px 20px 10px;
    margin: 20px;
    border-radius: 20px;
    width: 185px;
   
    height: 300px;
    box-shadow: 15px 16px 5px -5px rgba(0,0,0,0.38);
-webkit-box-shadow: 15px 16px 5px -5px rgba(0,0,0,0.38);
-moz-box-shadow: 15px 16px 5px -5px rgba(0,0,0,0.38);
   
}


.name,.height,.type,.weight{
    font-size: 14px;
    text-align: left;
}

.name {
   margin-bottom: 5px;
}
.weight,.height,.type{
    margin-top: 0;
    margin-bottom: 5px;
}
 .info{
     margin-left: 24px;
 }

 @media (min-width:400px){
    .poke-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:800px){
    .poke-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-left: 85px;
        
    }
}




